   @font-face{


font-family:tajawal;
src:url("font/tajawal.ttf");
    
}  *{  font-family:tajawal; } 
:root {
  --primary:  hsl(180, 52%, 28%) ;;
  --secondary: #000000; 
  --white: #fff;
}

.body3{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'tajawal', sans-serif;
}
.img2{
    width:64px;
    height:64px;
}
.body3{
	background: #fff;
	padding: 0px;
	color: var(--secondary);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	
}

.bold{
	font-weight: 900;
}

.light{
	font-weight: 100;
}

.wrapper{
	background: var(--white);
	padding: 30px;
}

.invoice_wrapper{
	border: 3px solid var(--primary);
	width: 100%;
	max-width: 100%;
}

.invoice_wrapper .header .logo_invoice_wrap,
.invoice_wrapper .header .bill_total_wrap{
	display: flex;
	justify-content: space-between;
	padding: 30px;
}

.invoice_wrapper .header .logo_sec{
	display: flex;
	align-items: center;
}

.invoice_wrapper .header .logo_sec .title_wrap{
	margin-left: 5px;
}

.invoice_wrapper .header .logo_sec .title_wrap .title{
	text-transform: uppercase;
	font-size: 18px;
	color: var(--primary);
}






.invoice_wrapper .header .bill_total_wrap .total_wrap .price,
.invoice_wrapper .header .bill_total_wrap .bill_sec .name{
	color: var(--primary);
	font-size: 20px;
}

.invoice_wrapper .body2 .main_table .table_header{
	background: var(--primary);
}

.invoice_wrapper .body2 .main_table .table_header .row{
	color: var(--white);
	font-size: 17px;
	border-bottom: 0px;	
}

.invoice_wrapper .body2 .main_table .row{
	display: flex;
	border-bottom: 1px solid var(--secondary);
}

.invoice_wrapper .body2 .main_table .row .col{
	padding: 10px;
}
.invoice_wrapper .body2 .main_table .row .col_no{width: 5%;}
.invoice_wrapper .body2 .main_table .row .col_des{width: 25%;}
.invoice_wrapper .body2 .main_table .row .col_price{width: 20%; text-align: center;}
.invoice_wrapper .body2 .main_table .row .col_qty{width: 15%; text-align: center;}
.invoice_wrapper .body2 .main_table .row .col_total{width: 20%; text-align: center;}


.invoice_wrapper .body2 .main_table .row .col_no1{width: 5%;}
.invoice_wrapper .body2 .main_table .row .col_des1{width: 23.75%; text-align: center;  }
.invoice_wrapper .body2 .main_table .row .col_price1{width:  23.75%; text-align: center;}
.invoice_wrapper .body2 .main_table .row .col_qty1{width:  23.75%; text-align: center;}
.invoice_wrapper .body2 .main_table .row .col_total1{width: 20%; text-align: center;}







.invoice_wrapper .body2 .paymethod_grandtotal_wrap{
	display: flex;
	justify-content: space-between;
	padding: 5px 0 30px;
	align-items: flex-end;
}

.invoice_wrapper .body2 .paymethod_grandtotal_wrap .paymethod_sec{
	padding-right: 30px;
}
